@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Jersey 10', sans-serif;
}

html {
    font-size: 150%;
}

body {
    background: #262626;
    color: #FFFFFC;
}

header {
    text-align: center;
    padding: 1rem;
}

main {
    text-align: center;
}

button {
    background: #6D8A96;
    border: 0.125rem solid #FFFFFC;
    border-radius: 0.125rem;
    color: #FFFFFC;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    color:#636060;
}